package templates

templ Header(title string) {
	<head>
		<style>
			body {
				font-family: Arial, sans-serif;
				background-color: #222;
				color: #eee;
			}
		</style>
		<script src="https://unpkg.com/htmx.org@2.0.1"></script>
		<title>{ title }</title>
	</head>
}

templ Index() {
	<html>
		@Header("Home")
		<body>
			<p>Welcome</p>
			@SearchAndResults()
		</body>
	</html>
}
