package templates

templ Header(title string) {
	<head>
		<style>
			body {
				font-family: Arial, sans-serif;
				color: #000;
			}
		</style>
		<title>{ title }</title>
	</head>
}

templ Index() {
	<html>
		@Header("Home")
		<body>
			<p>Welcome</p>
		</body>
	</html>
}
